* {
  user-select: none
}

:root {
  --primary-color: #76050a;
  --max-width: 390px;
  --background: #162447;
}

.appBox {
z-index: -1;
  /* Centered */
  background: var(--background);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  /* Scaffold  */
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
